body{
    background-color: bisque;
    padding: 1rem;
}

.card{
    display: inline-block;
}
.navbar-brand img{
    height: 48px;
}
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: white !important;
  }